
* {
    font-size: 30px;
    align-content: center;
    text-align: center;
    color: indigo;
}

h1 {
    color: purple;
    font-size: 50px;
}

.h1 {
    color: green;
}

.h2 {
    color: grey;
}

#h1 {
    color: red;
}

#h3 {
    color: aqua;
}

.tabl {
    border: double;
    color: red;
}
